@()

@main("Clément GARNIER") {

<section id="contact">
    <div class="contact-info">
        <h2>Find me online</h2>
        <p>
            I am looking for an internship in software engineering in the United States, starting in May 2013.
        </p>
        <p>
            Feel free to contact me for all kinds of job opportunities.
        </p>
        <p>
            You can find me on:
            <ul>
                <li class="social-twitter"><a href="https://twitter.com/clementgarnier">Twitter</a></li>
                <li class="social-github"><a href="https://github.com/clementgarnier">Github</a></li>
                <li class="social-linkedin"><a href="http://www.linkedin.com/in/clementgarnier/en">LinkedIn</a></li>
            </ul>
        </p>
        <p>
        Prefer the good old way? Simply send me an email: <strong>bonjour@@clementgarnier.com</strong>
        </p>
    </div>
    <div class="contact-form">
        <h2>Send me a message</h2>
        <form>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Your name</label>
                    <input type="text" name="name">
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Your email address</label>
                    <input type="text" name="email">
            </div>
            <div class="control-group">
                <label class="control-label">Your message</label>
                    <textarea name="message"></textarea>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Send!</button>
                </div>
            </div>
        </form>
    </div>
</section>
        
}
