@(title: String, scripts: List[String] = Nil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Clément GARNIER – @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        @scripts.map { script =>
            <script type="text/javascript" src="@routes.Assets.at("javascripts/" + script)"></script>
        }
        @if(title == "Bio" || title == "Contact") {
            <meta name="robots" content="index, nofollow">
        } else {
            <meta name="robots" content="noindex, nofollow">
        }
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if lt IE 9]><script src="@routes.Assets.at("javascripts/html5shiv.js")"></script><![endif]-->
    </head>
    <body>
        <header id="main-header">
            <div class="container clearfix">
                <a href="@routes.Application.index()" id="home-link">clementgarnier.com</a>
                <nav>
                    <ul>
                        <li @if(title == "Bio") {
                            class="active"
                        }><a href="@routes.Application.index()">Bio</a></li>
                        <li @if(title == "Projects") {
                            class="active"
                        }><a href="@routes.Application.projects()">Projects</a></li>
                        <li @if(title == "Contact") {
                            class="active"
                        }><a href="@routes.Application.contact()">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container" id="main-container">
            @content
        </div>
        <footer id="main-footer">
            <div class="container">
                © Clément Garnier 2013. Icons by <a href="http://keyamoon.com/">Keyamoon</a>.
            </div>
        </footer>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35813855-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>
