@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header id="main-header">
            <div class="container clearfix">
                <a href="@routes.Application.index()" id="home-link">clementgarnier.com</a>
                <nav>
                    <ul>
                        <li><a href="@routes.Application.index()">Bio</a></li>
                        <li><a href="@routes.Application.projects()">Projects</a></li>
                        <li><a href="@routes.Application.contact()">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container" id="main-container">
            @content
        </div>
    </body>
</html>
