@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Clément GARNIER – @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header id="main-header">
            <div class="container clearfix">
                <a href="@routes.Application.index()" id="home-link">clementgarnier.com</a>
                <nav>
                    <ul>
                        <li @if(title == "Bio") {
                            class="active"
                        }><a href="@routes.Application.index()">Bio</a></li>
                        <li @if(title == "Projects") {
                            class="active"
                        }><a href="@routes.Application.projects()">Projects</a></li>
                        <li @if(title == "Contact") {
                            class="active"
                        }><a href="@routes.Application.contact()">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container" id="main-container">
            @content
        </div>
        <footer id="main-footer">
            <div class="container">
                © Clément Garnier 2013. Thanks to <a href="http://keyamoon.com/">Keyamoon</a> for the icons.
            </div>
        </footer>
    </body>
</html>
