@()

@main("Clément GARNIER") {
<section id="projects">
    <h2>Projects</h2>
    <ul>
        <li class="project-zaptravel clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2012-2013</h4>
                <h4 class="project-title">ZapTravel</h4>
            </div>
            <p class="project-description">
            In charge of the front-end of our web application (<strong>HTML5</strong>, <strong>JavaScript</strong>, <strong>Backbone.js</strong>), I was also involved in back-end development (<strong>Scala</strong>, <strong>Play&nbsp;2</strong>). As the first employee of this start-up, I contributed to the design of the product and the various technical decisions we have made.
                <a href="http://www.zaptravel.com" class="project-link">http://www.zaptravel.com</a>
            </p>
        </li>
        <li class="project-circlelocus clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2012</h4>
                <h4 class="project-title">Circle Locus</h4>
            </div>
            <p class="project-description">
            For the purpose of an academic project at UQAM, I have developed this social recommandation service allowing people to interact (like, dislike, comment…) with local venues such as restaurants, museums and monuments. Users log in with <strong>Facebook connect</strong> and find venues through the <strong>Foursquare API</strong>. Users, venues and interactions are stored as a graph running on <strong>Neo4j</strong>.
                <a href="http://circleloc.us" class="project-link">http://circleloc.us</a>
            </p>
        </li>
        <li class="project-oleassence clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2012</h4>
                <h4 class="project-title">Oleassence</h4>
            </div>
            <p class="project-description">
            This French cosmetic company needed a simple web application to compose custom serums. I designed and developed a rich web application using <strong>Twitter Bootstrap</strong> and <strong>Backbone.js</strong> on the front-end, as well as an API written with <strong>Symfony 2</strong>.
            </p>
        </li>
        <li class="project-aperture clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2012</h4>
                <h4 class="project-title">Aperture</h4>
            </div>
            <p class="project-description">
            I developed a web application allowing photographers to upload geolocated pictures. In pair with an iOS developer, I also built an API for browsing the content through an iPad application. This project uses <strong>Play&nbsp;2</strong> and <strong>MongoDB</strong>, including GridFS storage features and geospatial indexing.
            </p>
        </li>
        <li class="project-linutop clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2011</h4>
                <h4 class="project-title">Linutop</h4>
            </div>
            <p class="project-description">
            
            </p>
        </li>
        <li class="project-welite clearfix">
            <div class="project-headings clearfix">
                <h4 class="project-date">2010</h4>
                <h4 class="project-title">Welite</h4>
            </div>
            <p class="project-description">
                <a href="http://welite.net" class="project-link">http://welite.net</a>
            </p>
        </li>
    </ul>
</section>        
}
